.widget-search-bnr {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px
}

.widget-search-bnr::before {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 1 !important;
  content: '';
  transform: translate(0px, 0px);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.widget-search-bnr form {
  padding-top: 150px;
}
